<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tikhe_POS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Tikhe_POS.Properties.Settings>
      <setting name="tgl_awal" serializeAs="String">
        <value />
      </setting>
      <setting name="tgl_akhir" serializeAs="String">
        <value />
      </setting>
      <setting name="cabang" serializeAs="String">
        <value />
      </setting>
      <setting name="totalharga_order" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="servis" serializeAs="String">
        <value />
      </setting>
      <setting name="subservis" serializeAs="String">
        <value />
      </setting>
      <setting name="tgl_awal_cs" serializeAs="String">
        <value />
      </setting>
      <setting name="tgl_akhir_cs" serializeAs="String">
        <value />
      </setting>
    </Tikhe_POS.Properties.Settings>
  </userSettings>
</configuration>